p{
    font-size: .3rem;
}
.bj{
    width: 100vw;
    height: 45vh;
    background: url(../image/hbbj.jpg);
    position: relative;
}
.bj-box{
    position: fixed;
    top: .2rem;
    left: .2rem;
}
.bj-box>span{
    font-size: .26rem;
    color: white;
}
.zgyd{
    height: .33rem;
    width: .33rem;
}
.bj-box2{
    height: .7rem;
    width: 3rem;
    background-color: rgba(255,255,255,.1);
    border-radius: 1000px;
    color: white;
    font-size: .36rem;
    margin: .78rem 0 .3rem 0;
}
.bj-box3{
    background-image: url(../image/hsk.png);
    width: 6.24rem;
    height: 3.04rem;
    background-size: cover;
}
.bj-box3>img{
    height: 1.13rem;
    width: 4.11rem;
    margin: .74rem 0 .39rem 0;
}
.bj-box3>p{
    font-size: .3rem;
    color: #d1b985;
}
.hbd{
    height: .85rem;
    width: 100vw;
    position: absolute;
    bottom: 0;
    z-index: 9;
    background-image: url(../image/hbd.png);
    background-size: cover;
}
.hbd-box>img{
    height: .29rem;
    width: .07rem;
    margin-right: .22rem;
}

.hbd-box>span{
    font-size: .3rem;
    color: #254c75;
}

.floor-2-p{
    font-size: .26rem;
    color: #849db9;
    margin: .26rem 0 .25rem 0;
}

.floor-2-p2{
    font-size: .26rem;
    color: #254c75;

}
.floor-2-p2>span{
    font-size: .26rem;
    color: #e7787b;
}
.floor-2-p3{
    font-size: .33rem;
    color: #093d58;
    margin: .42rem 0 -.26rem 0;

}
.floor-2-p4{
    font-size: .3rem;
    color: #093d58;
}
.floor-2-box{
    padding: .8rem .6rem .6rem .65rem;
    /*border: 1px solid black;*/
}
.floor-2-box>img {
    height: 2.46rem;
    width: 2.46rem;
    margin-right: .42rem;
}
.floor-2-box-box{
    background-image: url(../image/kuang.png);
    height: 2.46rem;
    width: 2.54rem;
    background-size: cover;

}

.smbj>img{
    height: 1.91rem;
    width: 1.77rem;
}
.smbj{
    height: 95%;
    width: 95%;
    position: relative;
}

@keyframes ssjj{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(2.3rem);
    }
}
.ssjj{
    animation-name:ssjj;
    animation-duration:5s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
}


.ewmdt{
    position: absolute;
    top: -2rem;
    height: 2rem;
    width: 2.3rem;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eef6ff+0,eef6ff+100&0+1,0.8+100 */
    background: -moz-linear-gradient(top, rgba(238,246,255,0) 0%, rgba(238,246,255,0) 1%, rgba(238,246,255,0.8) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(238,246,255,0) 0%,rgba(238,246,255,0) 1%,rgba(238,246,255,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(238,246,255,0) 0%,rgba(238,246,255,0) 1%,rgba(238,246,255,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00eef6ff', endColorstr='#cceef6ff',GradientType=0 ); /* IE6-9 */

}


/*¶þÎ¬Âë¶¯Ì¬*/




